.wrp-center {
  display: grid;
  place-items: center;
  min-width: 93px;
  min-height: 90px;
  font-size: 18px;
  line-height: 23px;
  background-color: $color-ghost-white;
  border: 1px solid $color-light-gray;
  border-radius: 12px;
  @include mobile {
    min-height: 50px;
  }
}
