-
  let tableData2 = [
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-watch-round",
      },
      hubs: {
        name: "Brooklyn",
        color: "blue",
      },
      items: [
        true,
        true,
        true,
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-stopwatch-round",
      },
      hubs: {
        name: "New Jersey",
        color: "light-green",
      },
      items: [
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: false,
        secondIcon: "icon-lightning-round",
      },
      hubs: {
        name: "Connecticut"
      },
      items: [
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-bag-round",
      },
      hubs: {
        name: "Pennsylvania",
        color: "green",
      },
      items: [
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Connecticut"
      },
      items: [
        true,
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Long Island",
        color: "yellow",
      },
      items: [
        true,
        true,
        true,
        true,
      ]
    },
  ]
