-
  let tableData3 = [
    {
      order: {
        id: "#16247419",
        isFridge: true,
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: [
        false,
      ]
    },
    {
      order: {
        id: "#16247419-Copay",
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: []
    },
    {
      order: {
        id: "#16247419",
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: [
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: [
        false,
        true,
        false,
      ]
    },
    {
      order: {
        id: "#16247419-Copay",
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: []
    },
    {
      order: {
        id: "#16247419",
        isFridge: true,
      },
      pharmacy: "Modern Remedies Pharmacy - modernremedies",
      items: [
        false,
        true,
        false,
      ]
    },

  ]
