-
  let tableData1 = [
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: true,
        secondIcon: "icon-watch-round",
      },
      hubs: {
        name: "Brooklyn",
        color: "blue",
      },
      items: [
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: false,
        secondIcon: "icon-stopwatch-round",
      },
      hubs: {
        name: "New Jersey",
        color: "light-green",
      },
      items: [
        false,
        true,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: true,
        secondIcon: "icon-lightning-round",
      },
      hubs: {
        name: "Connecticut",
        color: "black",
      },
      items: [
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: true,
        secondIcon: "icon-bag-round",
      },
      hubs: {
        name: "Pennsylvania",
        color: "green",
      },
      items: [
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: false,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Connecticut",
        color: "black",
      },
      items: [
        false,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFridge: true,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Long Island",
        color: "yellow",
      },
      items: [
        false,
        false,
        false,
        true,
        false,
        false,
        false,
      ]
    },
  ]
