/* stylelint-disable declaration-no-important */
.light-blue {
  color: $color-green-pine-criola!important;
  background-color: $color-aquamarine-crayola!important;
}
.blue {
  color: $color-white!important;
  background-color: $color-crayola-blue!important;
}
.yellow {
  color: $color-black!important;
  background-color: $color-yellow-school-bus!important;
}
.light-green {
  color: $color-black!important;
  background-color: $color-light-green!important;
}
.black {
  color: $color-white!important;
  background-color: $color-umber-gray!important;
}
.green {
  color: $color-white!important;
  background-color: $color-muslim-green!important;
}
.success {
  color: $color-white!important;
  background-color: $color-lime-green!important;
  border-color: $color-lime-green!important;
}
.error {
  color: $color-white!important;
  background-color: $color-red!important;
  border-color: $color-red!important;
}
