.form-input {
  display: block;
  width: 100%;
  min-height: 40px;
  padding: 10px 11px 11px 11px;
  font-family: $font-default;
  font-size: 14px;
  line-height: 17px;
  text-align: left;
  color: $color-text;
  border: 1px solid $color-light-gray;
  border-radius: 6px;
  appearance: none;
  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: transparentize($color-text, 0.6);;
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    display: none;
    margin: 0;
    appearance: none;
  }
  &[type="number"] { // firefox
    appearance: textfield;
  }
  &--blue {
    background-color: $color-ghostly-bluish-white;
  }
  &::-webkit-clear-button {
    display: none;
  }
  &::-webkit-datetime-edit-month-field {
    font-family: inherit;
  }
  &::-webkit-calendar-picker-indicator {
    cursor: pointer;
    opacity: 0;
  }
  &::-webkit-datetime-edit {
    margin-bottom: -2px;
    padding: 0;
    line-height: 1;
  }
  &::-webkit-date-and-time-value {
    text-align: left;
  }
  &::-webkit-datetime-edit-day-field,
  &::-webkit-datetime-edit-month-field,
  &::-webkit-datetime-edit-year-field {
    padding: 0;
  }
  // for hidden key icon in safari
  &::-webkit-credentials-auto-fill-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
