.route-page {
  position: relative;
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding: $desktop-padding;
  border: 1px solid $color-light-gray; // FIXME: 2023-11-10 / remove
  @include mobile {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}
.route-page__header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 12px;
  background-color: $color-white;
  @include mobile {
    position: static;
    padding-bottom: 16px;
  }
}
.route-page__info {
  $route-page-info-gap: 8px;
  display: flex;
  gap: $route-page-info-gap;
  margin-bottom: 12px;
  .wrp-field {
    width: 345px;
  }
  @include tablet {
    flex-wrap: wrap;
    .label-city {
      margin-top: 8px;
    }
  }
  @include mobile {
    .wrp-field {
      width: 100%;
    }
    .wrp-center {
      width: calc(50% - math.div($route-page-info-gap, 2));
    }
  }
}
.route-page__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 16px;
}
.route-page__content {
  @include hide-scroll;
  // hack to display menu on hover
  // problem due to overflow-y
  margin-top: -132px;
  padding-top: 132px;
  overflow-x: scroll;
}
.route-page__city {
  margin-top: 64px;
  @include desktop-lg {
    margin-top: 0;
    margin-bottom: 0;
  }
}
