.form-select {
  position: relative;
  &.open .form-select__field {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  &.open .form-select__icon {
    transform: rotate(180deg);
  }
  &.open .form-select__dropdown {
    display: block
  }
  &--blue .form-select__field {
    padding: 9px 11px 10px 11px;
    font-size: 16px;
    line-height: 19px;
    color: $color-gray-blue;
    background-color: $color-ghostly-bluish-white;
  }
}
.form-select__field {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 11px 11px 11px;
  font-family: $font-default;
  font-size: 14px;
  line-height: 17px;
  color: $color-text;
  background-color: $color-white;
  border: 1px solid $color-light-gray;
  border-radius: 6px;
}
.form-select__icon {
  @include transition(transform);
  position: absolute;
  top: 0;
  right: 0;
  display: grid;
  place-items: center;
  width: 40px;
  height: 40px;
  margin: 0;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: rotate(0deg);
  svg {
    width: 20px;
    height: 16px;
    fill: $color-cadet-bluec-rayola;
  }
}
.form-select__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  margin-top: -1px;
  overflow: hidden;
  background-color: $color-white;
  border: 1px solid transparentize($color-black, 0.8);
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  box-shadow: 0 1px 6px 0 transparentize($color-black, 0.92);
  & > *:not(:last-child) {
    border-bottom: 1px solid transparentize($color-black, 0.8);
  }
}
.form-select__option {
  @include transition(background-color);
  display: block;
  width: 100%;
  margin: 0;
  padding: 12px 12px 11px 12px;
  font-family: inherit;
  font-size: 14px;
  line-height: 17px;
  font-weight: 400;
  text-align: left;
  color: $color-text;
  background-color: transparent;
  border: none;
  &:hover,
  &:focus {
    background-color: $color-periwinkle-crayola;
  }
}
