.form-field {
  width: 100%;
  padding: 9px 12px;
  font-family: $font-default;
  font-size: 14px;
  line-height: 18px;
  color: $color-text;
  border: 1px solid $color-light-gray;
  border-radius: 20px;
  &::placeholder {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    color: $color-text;
  }
  &::-webkit-search-cancel-button {
    display: none;
  }
  &[type="number"]::-webkit-outer-spin-button,
  &[type="number"]::-webkit-inner-spin-button {
    margin: 0;
    appearance: none;
  }
  &[type="number"] { // firefox
    appearance: textfield;
  }
  // for hidden key icon in safari
  &::-webkit-credentials-auto-fill-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
  }
}
