// .form-grid {}
.form-grid__el {
  &:not(:last-child) {
    margin-bottom: 18px;
  }
  .form-label {
    margin-bottom: 8px;
  }
}
.form-grid__controls {
  display: flex;
  column-gap: 8px;
  margin-top: 25px;
  @include mobile {
    margin-top: 16px;
    & > * {
      width: 100%;
    }
  }
}
