include ../templates/button/btn-section

mixin btn-panel-2({activeSection})
  .panel.panel--wrap
    -
      const data = [
        "Accounting calculation",
        "Route ready to start",
        "Driver assigner",
        "Route started",
        "Driver finished",
        "QAQC checked",
        "Accounting checked",
      ]
    each it in data
      +btn-section({text: it, isActive: it === activeSection})
