include ../templates/button/btn-section
include ../templates/button/btn-section-counter

mixin btn-panel({isExtraVisible, activeSection, counter})
  .btn-panel
    .panel.panel--wrap
      -
        const btns1 = [
          "Search Info",
          "Print Labels",
          "Get Hub Name",
          "Get Route Name",
          "See Activity",
          "Validate Queue",
          "Scan by Filter",
          "Return labels",
          "Print Stops",
          "Quick Create “Return to pharmacy”"
        ]
      each it in btns1
        +btn-section({text: it, isActive: it === activeSection})
    .panel.panel--wrap
      -
        const btns2 = [
          { text: "Ready for Delivery", icon: "icon-building" },
          { text: "Driver Out", icon: "icon-auto" },
          { text: "Returned", icon: "icon-building-arrows" }
        ]
      each it in btns2
        - const isActive = it.text === activeSection
        +btn-section-counter({
          text: it.text,
          icon: it.icon,
          isActive: isActive,
          counter: isActive && counter ? counter : null
        })
      +btn-section-counter({text: "...", onclick: "window.utils.toggleVisibleNodes(this, 'js-btn-panel-extra')"})
    .panel.panel--wrap.js-btn-panel-extra(hidden=(isExtraVisible ? false : true))
      +btn-section-counter({text: "Ready to Print", icon: "icon-print", isExtra: true})
      +btn-section-counter({text: "Ready to Pickup", icon: "icon-package", isExtra: true})
      +btn-section-counter({text: "Pickup Occurred", icon: "icon-fast-truck", isExtra: true})
      +btn-section-counter({text: "Route Optimized", icon: "icon-dots", isExtra: true})
      +btn-section-counter({text: "Delivery Attempted", icon: "icon-floppy-prohibit", isExtra: true})
      +btn-section-counter({text: "Rejected", icon: "icon-bag-prohibit", isExtra: true})
      +btn-section-counter({text: "Investigation", icon: "icon-magnifier-question", isExtra: true})
      +btn-section-counter({text: "Back to Pharmacy", icon: "icon-briefcase-plus", isExtra: true})
      +btn-section-counter({text: "Other date delivery", icon: "icon-calendar", isExtra: true})
      +btn-section-counter({text: "Ready to optimize", icon: "icon-gear", isExtra: true})
      +btn-section-counter({text: "On its way to facility", icon: "icon-home-delivery", isExtra: true})
      +btn-section-counter({text: "Draft", icon: "icon-notebook", isExtra: true})
