include ../templates/button/btn-filter

mixin filter-panel({})
  //- .filter-panel
  .panel
    +btn-filter({text: "All", counter: 120, color: "light-blue", isActive: true})
    +btn-filter({text: "BK", counter: 12, color: "blue"})
    +btn-filter({text: "LI", counter: 10, color: "yellow"})
    +btn-filter({text: "NJ", counter: 40, color: "light-green"})
    +btn-filter({text: "CT", counter: 50, color: "black"})
    +btn-filter({text: "PA", counter: 30, color: "green"})
