mixin label-info({version})
  if version === 1
    .label-info
      | There are
      span.label-info__counter 150
      | of
      span.label-info__counter 150
      | left to scan
  else if version === 1
    .label-info
      | Overall left to scan equipments
      span.label-info__counter 12
      | from
      span.label-info__counter 12
  else if version === 2
    .label-info
      | There are
      span.label-info__counter 7
      | of
      span.label-info__counter 13
      | left to scan
  else
    .label-info
      | There are
      span.label-info__counter 0
      | of
      span.label-info__counter 0
      | left to scan
