mixin table-1()
  table.table-1
    tr
      th ID
      th Title
      th Pickup &amp; Ago
    tr
      td #162
      td Amazon fridge bags
      td Picked up 5 hours ago at 13:05
    tr
      td #163
      td Amazon fridge bags
      td Picked up 5 hours ago at 13:05
    tr
      td #164
      td Ice packs
      td Picked up 5 hours ago at 13:05
    tr
      td #165
      td Amazon fridge bags
      td Picked up 5 hours ago at 13:05
    tr
      td #166
      td Amazon fridge bags
      td Picked up 5 hours ago at 13:05
    tr
      td #167
      td Amazon fridge bags
      td Picked up 5 hours ago at 13:05
