//- -
  const table2Data = [
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-watch-round",
      },
      hubs: {
        name: "Brooklyn",
        color: "blue",
      },
      items: [
        true,
        true,
        true,
        true,
        true,
        true,
        true,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-stopwatch-round",
      },
      hubs: {
        name: "New Jersey",
        color: "light-green",
      },
      items: [
        false,
        true,
        false,
        true,
        true,
        false,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: false,
        secondIcon: "icon-lightning-round",
      },
      hubs: {
        name: "Connecticut"
      },
      items: [
        false,
        false,
        false,
        false,
        false,
        false,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-bag-round",
      },
      hubs: {
        name: "Pennsylvania",
        color: "green",
      },
      items: [
        true,
        true,
        false,
        false,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Connecticut"
      },
      items: [
        false,
        false,
        false,
      ]
    },
    {
      order: {
        id: "#16247419",
        time: "11:45 - 15:45",
        isFirstIcon: true,
        secondIcon: "icon-truck-round",
      },
      hubs: {
        name: "Long Island",
        color: "yellow",
      },
      items: [
        true,
        false,
      ]
    },
  ]

//- TODO: 2023-11-09 / move to separate file
mixin label({text, color})
  .label(class=(color ? `label--${color}` : null))=text

mixin number({text, isActive, })
  button.number(class=(isActive ? 'actv' : null))=text

mixin odrer-id({isFirstIcon, secondIcon})
  .order-id
    .order-id__number
      | #16247419
      .order-id__time 11:45 - 15:45
    .order-id__icon.order-id__icon--color
      if isFirstIcon
        +svg({name: "icon-snowflake", width: 20, height: 20})
    .order-id__icon
      if secondIcon
        +svg({name: secondIcon, width: 20, height: 20})


mixin table-2({table2Data})
  table.table-2
    tr
      th Order ID
      th Hubs
      th Items
    if table2Data
      each row, i in table2Data
        tr
          td
            if row.order
              +odrer-id({
                isFirstIcon: row.order.isFirstIcon,
                secondIcon: row.order.secondIcon
              })
          td
            if row.hubs
              +label({text: row.hubs.name, color: row.hubs.color})
          td
            .table-2__numbers
              each item, j in row.items
                +number({text: j+1, isActive: item})
