include ../templates/button/btn-5

mixin table-4({})
  table.table-4
    tr
      th Order ID
      th Date
      th Name of pharmacy
      th Collected by Driver
      th.table-4__th-btn
        +btn-5({text: "Print all"})
    each it, i in (new Array(3).fill(''))
      tr
        td
          .table-4__order
            .table-4__label #{12 + i}
            | #16247419
        td 09/11/2023
        td LeMed Specialty Pharmacy
        td.table-4__td-price 120$
        td.table-4__td-btn
          .table-4__btns
            +btn-5({text: "Print", icon: "icon-print"})
            +btn-5({text: "Unpaid", isError: true})
