// palette
$color-gray-984: #fbfbfb;   // hsl(0, 0%, 98.4%)
$color-gray-933: #eeeeee;   // hsl(0, 0%, 93.3%)
$color-gray-827: #d3d3d3;   // hsl(0, 0%, 82.7%)
$color-gray-467: #777777;   // hsl(0, 0%, 46.7%)
$color-gray-184: #2f2f2f;   // hsl(0, 0%, 18.4%)

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-cornflower:            #4AA3EF;
$color-light-purple-blue:     #827CA1;
$color-lime-green:            #44D453;
$color-lime-green-ligh:       #3ACA49;
$color-grayish-blue:          #55595C;
$color-very-pale-blue:        #C7CACC;
$color-ghost-white:           #FBFCFF;
$color-platinum:              #E2E4E5;
$color-crayola-blue:          #1E81F3;
$color-light-green:           #AEFF8F;
$color-umber-gray:            #302F2E;
$color-muslim-green:          #31B200;
$color-yellow-school-bus:     #FFDD02;
$color-twitter-blue:          #29B6FF;

$tranparent:        rgba(255 255 255 / 0%); // hack for safari

$color-text:        $color-gray-184;          // #2f2f2f
$color-main:        $color-cornflower;        // #4AA3EF


// scheme
:root {
  --common-background: #{$color-white};       // #ffffff
  --common-text: #{$color-gray-184};          // #2f2f2f
}
