// palette
$color-gray-984: #fbfbfb;   // hsl(0, 0%, 98.4%)
$color-gray-933: #eeeeee;   // hsl(0, 0%, 93.3%)
$color-gray-827: #d3d3d3;   // hsl(0, 0%, 82.7%)
$color-gray-467: #777777;   // hsl(0, 0%, 46.7%)
$color-gray-184: #2f2f2f;   // hsl(0, 0%, 18.4%)

$color-black:                 #000000;
$color-white:                 #ffffff;
$color-cornflower:            #4aa3ef;
$color-light-purple-blue:     #827ca1;
$color-lime-green:            #44d453;
$color-lime-green-ligh:       #3aca49;
$color-grayish-blue:          #55595c;
$color-very-pale-blue:        #c7cacc;
$color-ghost-white:           #fbfcff;
$color-platinum:              #e2e4e5;
$color-crayola-blue:          #1e81f3;
$color-light-green:           #aeff8f;
$color-umber-gray:            #302f2e;
$color-muslim-green:          #31b200;
$color-yellow-school-bus:     #ffdd02;
$color-twitter-blue:          #29b6ff;
$color-mint:                  #46be8a;
$color-light-gray:            #d3d9de;
$color-periwinkle-crayola:    #e5ebf1;
$color-cadet-bluec-rayola:    #c5d0db;
$color-maple-blue:            #3687CD;
$color-red-burgundy:          #A10000;
$color-sky-blue:              #256DAB;

$tranparent:        rgba(255 255 255 / 0%); // hack for safari

$color-text:        $color-grayish-blue;      // #55595C
$color-main:        $color-cornflower;        // #4AA3EF
