@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}

@mixin container {
  @media (max-width: $container-main-width - 1px) {
    @content;
  }
}

@mixin desktop-lg {
  @media (max-width: $desktop-xl-width - 1px) {
    @content;
  }
}

@mixin desktop {
  @media (max-width: $desktop-lg-width - 1px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: $desktop-width - 1px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $tablet-width - 1px) {
    @content;
  }
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin hide-scroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

/* stylelint-disable property-no-vendor-prefix, value-no-vendor-prefix */
@mixin crop-text(
  $row-count: 3,
  $row-count-mobile: null,
  $row-count-tablet: null
) {
  // hack to trim multiline text
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $row-count;
  display: -webkit-box;
  overflow: hidden;
  @if $row-count-tablet {
    @include tablet {
      -webkit-line-clamp: $row-count-tablet;
    }
  }
  @if $row-count-mobile {
    @include mobile {
      -webkit-line-clamp: $row-count-mobile;
    }
  }
}
/* stylelint-enable property-no-vendor-prefix, value-no-vendor-prefix */

@mixin crop-simple-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@mixin wrapper {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  padding-right: $desktop-padding;
  padding-left: $desktop-padding;
  @include tablet {
    padding-right: $tablet-padding;
    padding-left: $tablet-padding;
  }
  @include mobile {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}

@mixin transition($args...) {
  transition-timing-function: ease-out;
  transition-duration: 0.2s;
  transition-property: $args;
}

@mixin word-break {
  word-break: break-word;
  overflow-wrap: break-word;
}

@mixin link {
  a {
    @include transition(color);
    color: $color-main;
    &:hover {
      color: inherit;
    }
  }
}
