// fonts
$font-default: "Lato", sans-serif;
$font-title: "Dosis", sans-serif;
$font-info: "Barlow Condensed", sans-serif;

// retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// container
$container-width: 2320px;

// viewport
$desktop-xl-width: 1400px;
$desktop-lg-width: 1200px;
$desktop-width: 1024px;
$tablet-width: 768px;
$mobile-width: 375px;

// padding container
$desktop-padding: 16px;
$tablet-padding: 16px;
$mobile-padding: 8px;

// character css code
$character-nbsp: "\00A0";
$character-bullet-code: "\2022";
$character-four-em-space-code: "\2005";
$character-next-line-code: "\000A";
