include ../elements/head

- let title = ""

block data

doctype html
html(lang="en")
  +head(`Rx2go. ${title}`)
  body
    main.route-page.container
      block content
    include ../elements/script
