include ../../templates/form/form-select-input

mixin form-field-wrp-select-input({isOpen, scriptId, error, color})
  .wrp-field(class=(color && `wrp-field--${color}`))
    label.wrp-field__label Select a Route:
    +form-select-input({isOpen, scriptId})
    if error
      .wrp-field__msg=error
