include ../../templates/form/form-input

mixin form-field-wrp-input({text, placeholder, error, color})
  .wrp-field(class=(color && `wrp-field--${color}`))
    label.wrp-field__label Scan:
    +form-input({placeholder, value: text})
    if error
      .wrp-field__msg=error
