mixin head(title)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")

    title=title

    link(rel="stylesheet" href="css/style.css")

    //- TODO: remove unnecessary code
    //- link(rel="preconnect" href="https://fonts.googleapis.com")
    //- link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    //- link(href="https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Dosis&family=Lato:wght@400;700&display=swap" rel="stylesheet")

    //- link(rel="manifest" href="/icons/p-manifest.webmanifest")
    //- link(rel="icon" href="/icons/p-favicon.ico")
    //- link(rel="icon" href="/icons/p-icon.svg" type="image/svg+xml")
    //- link(rel="apple-touch-icon" href="/icons/p-apple-touch-icon.png")
