include ../elements/head
include ../templates/header

- let title = "Layout"

block data

doctype html
html(lang="en")
  +head(`Rx2go. ${title}`)
  body
    +header()
    main.scan
      block content
    include ../elements/script
