include ../elements/head
include ../templates/header

- let title = "Layout"

block data

doctype html
html(lang="en")
  +head(`Rx2go. ${title}`)
  body
    main.scan
      +header()
      block content
    block modal
    include ../elements/script
