.btn-2 {
  --color: #{$color-cornflower};
  --border-color: #{$color-cornflower};
  --bg-color-pressed: #{$color-cornflower};
  --border-color-pressed: #{transparentize($color-cornflower, 0.85)};
  @include transition(color, background-color, border-color);
  display: flex;
  align-items: center;
  column-gap: 6px;
  width: max-content;
  min-height: 41px;
  margin: 0;
  padding: 9px;
  font-family: $font-default;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: var(--color);
  white-space: nowrap;
  background-color: transparent;
  border: 1px solid var(--border-color);
  border-radius: 6px;
  &--extra {
    --color: #{$color-light-purple-blue};
    --border-color: #{$color-light-purple-blue};
    --bg-color-pressed: #{mix($color-cornflower, $color-white, 15%)};
    --border-color-pressed: #{mix($color-cornflower, $color-white, 15%)};
  }
  &[disabled] {
    opacity: 0.4;
  }
  &:not([disabled]):hover {
    background-color: transparentize($color-cornflower, 0.95);
  }
  &:not([disabled]):active {
    font-weight: 700;
    background-color: var(--bg-color-pressed);
    border-color: var(--border-color-pressed);
  }
  &:not([disabled]).actv {
    font-weight: 700;
    color: $color-white;
    background-color: $color-cornflower;
    border-color: $color-cornflower;
    .btn-2__counter {
      color: $color-grayish-blue;
      border-color: $color-white;
    }
  }
}
.btn-2__icon {
  @include transition(fill);
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  fill: currentColor;
}
.btn-2__counter {
  @include transition(color, border-color);
  flex-shrink: 0;
  padding: 1px 5px;
  font-size: 14px;
  line-height: 15px;
  background-color: $color-white;
  border: 1px solid transparentize($color-grayish-blue, 0.9);
  border-radius: 12px;
}
