.btn-4 {
  @include transition(background-color, border-color);
  display: flex;
  align-items: center;
  column-gap: 8px;
  min-height: 37px;
  margin: 0;
  padding: 12px 18px;
  font-family: $font-default;
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
  color: $color-white;
  background-color: $color-cornflower;
  border: 1px solid $color-cornflower;
  border-radius: 12px;
  &[disabled] {
    opacity: 0.4;
  }
  &:not([disabled]):hover {
    background-color: color.adjust($color-cornflower, $whiteness: 5%);
    border-color: color.adjust($color-cornflower, $whiteness: 5%);
  }
}
.btn-4__icon {
  flex-shrink: 0;
  width: 17px;
  height: 17px;
  fill: currentColor;
}
