.btn-section {
  @include transition(color, background-color, border-color);
  display: block;
  min-height: 30px;
  margin: 0;
  padding: 6px 8px;
  font-family: $font-default;
  font-size: 14px;
  line-height: 16px;
  font-weight: 400;
  color: $color-light-purple-blue;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 6px;
  &[disabled] {
    opacity: 0.4;
  }
  &:not([disabled]):hover {
    background-color: transparentize($color-cornflower, 0.95);
  }
  &:not([disabled]):active {
    background-color: mix($color-cornflower, $color-white, 15%);
    border-color: mix($color-cornflower, $color-white, 15%);
  }
  &:not([disabled]).actv {
    color: $color-white;
    background-color: $color-cornflower;
    border-color: $color-cornflower;
  }
}
