.label-fridge {
  display: flex;
  align-items: center;
  column-gap: 16px;
  width: 100%;
  padding: 23px 16px 22px 16px;
  font-size: 35px;
  line-height: 46px;
  color: $color-sky-blue;
  text-transform: uppercase;
  background-color: transparentize($color-cornflower, 0.8);
  border-radius: 12px;
  svg {
    flex-shrink: 0;
    width: 45px;
    height: 45px;
    fill: currentColor;
  }
  @include mobile {
    font-size: 26px;
    line-height: 34px;
    svg {
      width: 40px;
      height: 40px;
    }
  }
}
