.label-city {
  width: max-content;
  min-width: 110px;
  padding: 2px 8px;
  overflow: hidden;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-align: center;
  color: $color-black;
  white-space: nowrap;
  text-overflow: ellipsis;
  background-color: $color-platinum;
  border-radius: 4px;
  &--medium {
    min-width: 400px;
    padding: 26px 20px 25px 20px;
    font-size: 30px;
    line-height: 39px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
  }
  &--wide {
    width: 100%;
    padding: 23px 20px 22px 20px;
    font-size: 35px;
    line-height: 46px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 12px;
  }
  &--big {
    width: 100%;
    max-width: 1984px;
    min-width: auto;
    padding: 115px 90px 114px 90px;
    font-size: 120px;
    line-height: 156px;
    text-transform: uppercase;
    border-radius: 30px;
  }
  @include desktop {
    &--big {
      padding: 23px 20px 22px 20px;
      font-size: 35px;
      line-height: 46px;
      border-radius: 12px;
    }
  }
  @include mobile {
    &--medium {
      min-width: 360px;
      padding: 28px 20px;
      font-size: 26px;
      line-height: 34px;
    }
    &--wide {
      padding: 28px 20px 28px 20px;
      font-size: 26px;
      line-height: 34px;
    }
    &--big {
      padding: 28px 20px 28px 20px;
      font-size: 26px;
      line-height: 34px;
      border-radius: 12px;
    }
  }
}
