extends ../elements/layout-route
include ../templates/btn-panel-2
include ../templates/filter-panel
include ../templates/table/table-route
include ../templates/label/label-city
include ../templates/form/form-field-wrp-input
include ../templates/form/form-switch

block data
  - title = "Get Route Name: content"


block content
  .route-page__header
    .route-page__info
      +form-field-wrp-input({text: "#16247419"})
      .wrp-center
        +form-switch({id: "switch", isChecked: true})
      .wrp-center 1800
      +label-city({text: "Brooklyn", color: "blue", size: "wide"})

    .route-page__filter
      .wrp-filter
        | Filter by hub:
        .wrp-filter__scroll
          +filter-panel({})
      .wrp-filter
        | Filter by routes::
        +btn-panel-2({})
  .route-page__content
    include ../mocks/table-data-4
    +table-route({data: tableData4, repeat: 10})
