extends ../elements/layout-page
include ../templates/btn-panel

block data
  - title = "Scan: empty"


block content
  .scan-page__main
    .scan-page__content.scan-page__content--profile
      +btn-panel({})
