mixin table-text({})
  table.table
    thead
      tr
        th ID
        th Title
        th Pickup &amp; Ago
    tbody
      each it in (new Array(6).fill(''))
        tr
          td #162
          td Amazon fridge bags
          td Picked up 5 hours ago at 13:05
