include ../../elements/images
include ../../templates/label/label-city
include ../../templates/number-circle

mixin table-order({order})
  .table__order
    =order.id
    .table__order-time=order.time

mixin table-icon-list({isFridge, secondIcon})
  .table__icon-list
    .table__icon.table__icon--color
      if isFridge
        +svg({name: "icon-snowflake", width: 20, height: 20})
    .table__icon
      if secondIcon
        +svg({name: secondIcon, width: 20, height: 20})


mixin table-orders({data})
  table.table.table--orders
    thead
      tr
        th(colspan="2") Order ID
        th Hubs
        th Items
    if data
      tbody
        each row, i in data
          tr
            td.table__td-order
              if row.order
                +table-order({order: row.order})
            td.table__td-icons
              if row.order
                +table-icon-list({
                  isFridge: row.order.isFridge,
                  secondIcon: row.order.secondIcon
                })
            td
              if row.hubs
                +label-city({text: row.hubs.name, color: row.hubs.color})
            td
              .table__number-list
                each item, j in row.items
                  +number-circle({text: j+1, isActive: item})
