include ../../templates/button/btn-5

mixin table-returns({})
  table.table.table--returns
    thead
      tr
        th(colspan="2") Order ID
        th Date
        th Name of pharmacy
        th.table__th-price Collected by Driver
        th.table__th-btn #[+btn-5({text: "Print all"})]
    tbody
      each it in [12, 9, 14]
        tr
          td.table__th-label
            .table__label=it
          td.table__th-order #16247419
          td 09/11/2023
          td LeMed Specialty Pharmacy
          td.table__td-price 120$
          td
            .table__btns
              +btn-5({text: "Print", icon: "icon-print"})
              +btn-5({text: "Unpaid", isError: true})
