-
  let selectData1 = [
    "Ready to Print",
    "Ready for Pickup",
    "Pickup Occurred",
    "Ready for Delivery",
    "Route Optimized",
    "Driver Out",
    "Delivered",
    "Delivery Attempted",
    "Returned",
    "Rejected",
    "Investigation",
    "Back to Pharmacy",
    "Other date delivery",
    "Ready to Optimize",
    "On its way to facility",
    "Draft",
  ]
