-
  let tableData4 = [
    {
      hub: {
        name: "Brooklyn 1",
        color: "blue",
      },
      routes: 79
    },
    {
      hub: {
        name: "Brooklyn 2",
        color: "blue",
      },
      routes: 79
    },
    {
      hub: {
        name: "Manhattan 1",
        color: "blue",
      },
      routes: 29
    },
    {
      hub: {
        name: "Bronx 1",
        color: "blue",
      },
      routes: 55
    },
    {
      hub: {
        name: "Brooklyn 7",
        color: "blue",
      },
      routes: 3
    },
  ]
