include ../elements/head
include ../elements/console

mixin page-list(data)
  ul
    each list in data
      li
        a(href=list.url) #{list.url} ---- #{list.name}

-
  const pages = [{
    name: "Scan: empty",
    url: "scan-empty-page.html",
  },{
    name: "Scan: ready for delivery",
    url: "scan-delivery-page.html",
  },{
    name: "Scan: ready for delivery, success",
    url: "scan-delivery-success-page.html",
  },{
    name: "Scan: ready for delivery, done",
    url: "scan-delivery-done-page.html",
  },{
    name: "Scan: driver out",
    url: "scan-driver-page.html",
  },{
    name: "Scan: driver out, route select, without vendor",
    url: "scan-driver-route-page.html",
  },{
    name: "Scan: driver out, route select, with vendor",
    url: "scan-driver-route-with-vendor-page.html",
  },{
    name: "Scan: driver out, success",
    url: "scan-driver-success-page.html",
  },{
    name: "Scan: driver out, fridge",
    url: "scan-driver-fridge-page.html",
  },{
    name: "Scan: driver out, error (modal)",
    url: "scan-driver-error-page.html",
  },{
    name: "Scan: driver out, the packages are scanned, print button.",
    url: "scan-driver-print-page.html",
  },{
    name: "UI",
    url: "ui-page.html",
  }]

  const pagesReturned = [{
    name: "Scan: returned",
    url: "scan-returned-page.html",
  //- },{
  //-   name: "Scan: returned, modal",
  //-   url: "scan-returned-modal-page.html",
  //- },{
  //-   name: "Scan: returned, done",
  //-   url: "scan-returned-done-page.html",
  }]

doctype html
html(lang="en")
  +head("Rx2go. Index.")

  body
    style.
      body {
        --color-main: #4AA3EF;
        padding: 20px 40px;
      }

      h1 {
        color: var(--color-main);
      }

      li {
        margin-bottom: 10px;
      }

      a:hover,
      a:focus {
        color: var(--color-main);
      }

    h1 Rx2go

    h2 Pages
    +page-list(pages)
    +page-list(pagesReturned)
