include ../elements/head
include ../elements/console

mixin page-list(data)
  ul
    each list in data
      li
        a(href=list.url) #{list.url} ---- #{list.name}

-
  const pages = [{
    name: "Scan: empty",
    url: "scan-empty-page.html",
  },{
    name: "Scan: driver out, route select, without vendor",
    url: "scan-driver-route-page.html",
  },{
    name: "UI",
    url: "ui-page.html",
  }]


doctype html
html(lang="en")
  +head("Rx2go. Index.")

  body
    style.
      body {
        --color-main: #4AA3EF;
        padding: 20px 40px;
      }

      h1 {
        color: var(--color-main);
      }

      li {
        margin-bottom: 10px;
      }

      a:hover,
      a:focus {
        color: var(--color-main);
      }

    h1 Rx2go

    h2 Pages
    +page-list(pages)
