extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/filter-panel
include ../templates/table/table-text
include ../templates/table/table-orders
include ../templates/table/table-returns
include ../templates/label-info
include ../templates/label-city
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  - title = "Scan: returned"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Returned", counter: 13})

      .scan-page__grid
        //- COL 1
        .scan-page__item
          .scan-page__top
            .scan-page__form
              .scan-page__select-route
                +form-field-wrp-select-input({color: "blue"})
              .scan-page__scan
                +form-field-wrp-input({
                  placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
                  color: "blue"
                })
            //- PROFILE
            .scan-page__profile
              +profile-card({})
          .scan-page__title Orders for Driver Not Yet Returned
          .scan-page__label
            +filter-panel({})
          .scan-page__table
            include ../mocks/table-data-1
            +table-orders({data: tableData1})

        //- COL 2
        .scan-page__item
          .scan-page__top
            .scan-page__label-info
              +label-city({
                text: "Confirmed back to pharmacy. Brooklyn Hub",
                color: "blue",
                size: "medium",
              })
          .scan-page__title Orders for Driver already Returned
          .scan-page__label
            +filter-panel({})
          .scan-page__table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})

        //- COL 3
        .scan-page__item
          .scan-page__title Assigned equipments
          .scan-page__label
            +label-info({version: 2})
          .scan-page__table
            +table-text({})

        //- COL 4
        .scan-page__item
          .scan-page__title Copay Returns
          .scan-page__label
            +label-info({version: 3})
          .scan-page__table
            +table-returns({})
