extends ../elements/layout
include ../templates/btn-panel
include ../templates/filter-panel
include ../templates/profile-card
include ../templates/button/btn-4
include ../templates/table/table-orders
include ../templates/label-info
include ../templates/label-done
include ../templates/label-city
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  -
    title = "Scan: ready for delivery, done"


block content
  .scan__main
    .scan__content
      +btn-panel({activeSection: "Ready for Delivery", counter: 124})

      .scan__form-wrp
        .scan__form-scan
          +form-field-wrp-input({placeholder: "Enter Barcode Numbers, Vendor ID, Equipments"})
        .scan__info

      .scan__grid
        .scan__grid-item
          h3.scan__grid-title Route Optimized
          .scan__grid-label
            +label-done({text: "All packages are scanned"})
          .scan__grid-table
        .scan__grid-item
          h3.scan__grid-title Driver Out
          .scan__grid-label
            +filter-panel({})
          .scan__grid-table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})
        .scan__grid-item
          h3.scan__grid-title Assigned equipments
          .scan__grid-label
            +label-done({text: "All packages are scanned"})
          .scan__grid-table

    .scan__profile
      +profile-card({})
