extends ../elements/layout
include ../templates/btn-panel
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  - title = "Scan: driver out, route select, without vendor"

block content
  +btn-panel({})

  br
  +form-field-wrp-select-input({isOpen: true})

  br
  +form-field-wrp-input({placeholder: "Enter Barcode Numbers, Vendor ID, Equipments"})
