extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-icon
include ../templates/table/table-orders
include ../templates/label/label-status
include ../templates/label/label-done
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  - title = "Scan: driver out, the packages are scanned, print button"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Driver Out", counter: 13})

      .scan-page__grid
        //- COL 1
        .scan-page__item
          .scan-page__top
            .scan-page__form
              .scan-page__select-route
                +form-field-wrp-select-input({color: "blue"})
              .scan-page__scan
                +form-field-wrp-input({
                  placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
                  color: "blue"
                })
            //- PROFILE
            .scan-page__profile
              +profile-card({})
          .scan-page__title Route Optimized
          .scan-page__label
            +label-done({text: "All packages are scanned"})

        //- COL 2
        .scan-page__item
          .scan-page__top
          .scan-page__title Driver Out
          .scan-page__label
            +label-status({version: 2})
          .scan-page__table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})
          .scan-page__table-btn
            +btn-icon({text: "Print the label", icon: "icon-print"})

        //- COL 3
        .scan-page__item
          .scan-page__title Assigned equipments
          .scan-page__label
            +label-done({text: "All packages are scanned"})
