extends ../elements/layout
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/table-1
include ../templates/table-2
include ../templates/table-3
include ../templates/label-info
include ../templates/label-fridge
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  -
    title = "Scan: driver out, fridge"


block content
  .scan__main
    .scan__content
      +btn-panel({activeSection: "Driver Out", counter: 13})

      .scan__form-wrp
        .scan__form
          +form-field-wrp-select-input({})
          +form-field-wrp-input({placeholder: "Enter Barcode Numbers, Vendor ID, Equipments"})
          +btn-4({text: "Print the label", icon: "icon-print"})
        .scan__info
          +label-fridge({})

      .scan__grid
        .scan__grid-item
          h3.scan__grid-title Route Optimized
          .scan__grid-label
            +label-info({version: 1})
          .scan__grid-table
            include ../mocks/table-data-1
            +table-2({data: tableData1})
        .scan__grid-item
          h3.scan__grid-title Driver Out
          .scan__grid-label
            +label-info({version: 2})
          .scan__grid-table
            include ../mocks/table-data-2
            +table-2({data: tableData2})
        .scan__grid-item
          h3.scan__grid-title Assigned equipments
          .scan__grid-label
            +label-info({version: 2})
          .scan__grid-table
            +table-1({})

    .scan__profile
      +profile-card({})
