extends ../elements/layout
include ../templates/btn-panel
include ../templates/form/form-field-wrp-input

block data
  -
    title = "Scan: ready for delivery"

block content
  .scan__main
    .scan__content
      +btn-panel({activeSection: "Ready for Delivery"})

      .scan__form-wrp
        .scan__form-scan
          +form-field-wrp-input({
            placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
            color: "blue"
          })

    .scan__profile
