extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/form/form-field-wrp-select-input

block data
  - title = "Scan: driver out"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Driver Out"})

      .scan-page__grid
        //- COL 1
        .scan-page__item
          .scan-page__top
            .scan-page__select-route
                +form-field-wrp-select-input({color: "blue"})
