extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input
include ../templates/table/table-text
include ../templates/table/table-orders
include ../templates/label/label-status
include ../templates/profile-card
include ../templates/modal

block data
  - title = "Scan: driver out, error (modal)"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Driver Out", counter: 13})

      .scan-page__grid
        //- COL 1
        .scan-page__item
          .scan-page__top
            .scan-page__form
              .scan-page__select-route
                +form-field-wrp-select-input({color: "blue"})
              .scan-page__scan
                +form-field-wrp-input({
                  placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
                  color: "blue"
                })
              .scan-page__print
                +btn-4({text: "Print the label", icon: "icon-print"})
            //- PROFILE
            .scan-page__profile
              +profile-card({})
          .scan-page__title Route Optimized
          .scan-page__label
            +label-status({version: 1})
          .scan-page__table
            include ../mocks/table-data-1
            +table-orders({data: tableData1})

        //- COL 2
        .scan-page__item
          .scan-page__top.scan-page__top--btn
          .scan-page__title Driver Out
          .scan-page__label
            +label-status({version: 2})
          .scan-page__table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})

        //- COL 3
        .scan-page__item
          .scan-page__title Assigned equipments
          .scan-page__label
            +label-status({version: 2})
          .scan-page__table
            +table-text({})

block modal
  +modal({
    isErrorHeader: true,
    isSubmitDisabled: true,
    submitText: "Save",
    textareaPlaceholder: "Write how you corrected the error",
    /* textareaError: "Too short a comment" */
  })
