extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-icon
include ../templates/table/table-pharmacy
include ../templates/table/table-orders
include ../templates/label/label-status
include ../templates/label/label-fridge
include ../templates/profile-card
include ../templates/form/form-grid
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select

block data
  - title = "Scan: return to pharmacy, content"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Quick Create “Return to pharmacy”"})

      .scan-page__grid
        //- COL 1
        .scan-page__item
          .scan-page__top
            .scan-page__fields
              .scan-page__select-route
                +form-field-wrp-select({
                  color: "blue",
                  value: "Modern Remedies Pharmacy - modernremedies"
                })
              .scan-page__scan
                +form-field-wrp-input({
                  placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
                  color: "blue"
                })
          .scan-page__title Header
          .scan-page__table
            include ../mocks/table-data-3
            +table-pharmacy({data: tableData3})

        //- COL 2
        .scan-page__item
          .scan-page__top
            +label-fridge({})
          .scan-page__title Header
          .scan-page__table
            +table-pharmacy({data: tableData3})

        //- COL 3
        .scan-page__item
          .scan-page__form
            +form-grid({})
