extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/filter-panel
include ../templates/table/table-orders
include ../templates/label-info
include ../templates/label-city
include ../templates/label-done
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  -
    title = "Scan: returned, done"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Returned", counter: 124})

      .scan-page__form-wrp
        .scan-page__form
          +form-field-wrp-select-input({color: "blue"})
          +form-field-wrp-input({
            placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
            color: "blue"
          })

      .scan-page__grid
        .scan-page__grid-item
          h3.scan-page__grid-title Orders for Driver Not Yet Returned
          .scan-page__grid-label
            +label-done({text: "All packages are scanned"})
        .scan-page__grid-item
          h3.scan-page__grid-title Orders for Driver already Returned
          .scan-page__grid-label
            +filter-panel({})
          .scan-page__grid-table
            include ../mocks/table-data-1
            +table-orders({data: tableData1})
        .scan-page__grid-item
          h3.scan-page__grid-title Assigned equipments
          .scan-page__grid-label
            +label-done({text: "All equipments are scanned"})
        .scan-page__grid-item
          h3.scan-page__grid-title Copay Returns
          .scan-page__grid-label
            +label-done({text: "All Copay scanned"})

    .scan-page__profile
      +profile-card({})
