extends ../elements/layout
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input
include ../templates/table/table-text
include ../templates/table/table-orders
include ../templates/label-info
include ../templates/profile-card
include ../templates/modal

block data
  -
    title = "Scan: driver out, error (modal)"


block content
  .scan__main
    .scan__content
      +btn-panel({activeSection: "Driver Out", counter: 13})

      .scan__form
        +form-field-wrp-select-input({color: "blue"})
        +form-field-wrp-input({
          placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
          color: "blue"
        })
        +btn-4({text: "Print the label", icon: "icon-print"})

      .scan__grid
        .scan__grid-item
          h3.scan__grid-title Route Optimized
          .scan__grid-label
            +label-info({version: 1})
          .scan__grid-table
            include ../mocks/table-data-1
            +table-orders({data: tableData1})
        .scan__grid-item
          h3.scan__grid-title Driver Out
          .scan__grid-label
            +label-info({version: 2})
          .scan__grid-table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})
        .scan__grid-item
          h3.scan__grid-title Assigned equipments
          .scan__grid-label
            +label-info({version: 2})
          .scan__grid-table
            +table-text({})

    .scan__profile
      +profile-card({})

block modal
  +modal({
    isErrorHeader: true,
    isSubmitDisabled: true,
    submitText: "Save",
    textareaPlaceholder: "Write how you corrected the error",
    /* textareaError: "Too short a comment" */
  })
