extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/label-info
include ../templates/form/form-field-wrp-select-input

block data
  -
    title = "Scan: driver out"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Driver Out"})

      .scan-page__form
        +form-field-wrp-select-input({color: "blue"})

    .scan-page__profile
