extends ../elements/layout-page
include ../templates/btn-panel
include ../templates/button/btn-4
include ../templates/filter-panel
include ../templates/table/table-text
include ../templates/table/table-orders
include ../templates/label-info
include ../templates/label-city
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input

block data
  -
    title = "Scan: ready for delivery, success"


block content
  .scan-page__main
    .scan-page__content
      +btn-panel({activeSection: "Ready for Delivery", counter: 124})

      .scan-page__form-wrp
        .scan-page__form-scan
          +form-field-wrp-input({
            placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
            color: "blue"
          })
        .scan-page__info
          +label-city({text: "Brooklyn", color: "blue"})

      .scan-page__grid
        .scan-page__grid-item
          h3.scan-page__grid-title Route Optimized
          .scan-page__grid-label
            +filter-panel({})
          .scan-page__grid-table
            include ../mocks/table-data-1
            +table-orders({data: tableData1})
        .scan-page__grid-item
          h3.scan-page__grid-title Driver Out
          .scan-page__grid-label
            +filter-panel({})
          .scan-page__grid-table
            include ../mocks/table-data-2
            +table-orders({data: tableData2})
        .scan-page__grid-item
          h3.scan-page__grid-title Assigned equipments
          .scan-page__grid-label
            +label-info({version: 2})
          .scan-page__grid-table
            +table-text({})

    .scan-page__profile
      +profile-card({})
