//- extends ../elements/layout
include ../elements/head
include ../elements/images
include ../templates/button/btn-1
include ../templates/button/btn-2
include ../templates/button/btn-3
include ../templates/button/btn-4
include ../templates/button/btn-5
include ../templates/button/btn-filter
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input
include ../templates/form/form-input
include ../templates/form/form-select-input
include ../templates/form/form-textarea
include ../templates/table-1
include ../templates/table-2
include ../templates/header
include ../templates/modal
include ../templates/label-info
include ../templates/label-done
include ../templates/label-city
include ../templates/profile-card


doctype html
html(lang="en")
  +head("Rx2go. UI-kit")
  body
    block content
    include ../elements/script


block content
  .wrp.wrp--top-page.wrp--bottom-page
    h1 UI-kit


    h2.ui-second-title Buttons

    p Button 1
    .ui-btn-list
      +btn-1({text: "Search Info"})
      +btn-1({text: "Print Labels"})
      +btn-1({text: "Get Hub Name", isDisabled: true})
      +btn-1({text: "Get Route Name", isActive: true})

    p Button 2
    .ui-btn-list
      +btn-2({text: "Ready for Delivery", icon: "icon-building", counter: 124})
      +btn-2({text: "Driver Out", icon: "icon-auto", isActive: true})
      +btn-2({text: "Returned", icon: "icon-building-arrows", isDisabled: true})
      +btn-2({text: "..."})

    p Button 3
    .ui-btn-list
      +btn-3({text: "Save"})
      +btn-3({text: "Save", isDisabled: true})

    p Button 4
    .ui-btn-list
      +btn-4({text: "Print the label", icon: "icon-print"})
      +btn-4({text: "Print the label", icon: "icon-print", isDisabled: true})

    p Button 5
    .ui-btn-list
      +btn-5({text: "Print all"})
      +btn-5({text: "Print all", isDisabled: true})
      +btn-5({text: "Print", icon: "icon-print"})
      +btn-5({text: "Unpaid", isError: true})
      +btn-5({text: "Unpaid", isError: true, isDisabled: true})


    h2.ui-second-title Filter

    .ui-filter-list
      +btn-filter({text: "All", counter: 120, color: "light-blue"})
      +btn-filter({text: "BK", counter: 12, color: "blue"})
      +btn-filter({text: "LI", counter: 10, color: "yellow"})
      +btn-filter({text: "NJ", counter: 40, color: "light-green"})
      +btn-filter({text: "CT", counter: 50, color: "black"})
      +btn-filter({text: "PA", counter: 30, color: "green"})
    .ui-filter-list
      +btn-filter({text: "All", counter: 120})
      +btn-filter({text: "BK", counter: 12})
      +btn-filter({text: "LI", counter: 10})
      +btn-filter({text: "NJ", counter: 40})
      +btn-filter({text: "CT", counter: 50})
      +btn-filter({text: "PA", counter: 30})



    h2.ui-second-title Tables

    p Table 1
    .ui-table
      +table-1()

    p Table 2
    .ui-table
      +table-2({})


    h2.ui-second-title Header
    .ui-header
      +header()


    h2.ui-second-title Form elements

    p Field wrapper select input
    +form-input({placeholder: "Enter Barcode Numbers"})

    p Field wrapper select input
    +form-select-input({scriptId: 1})

    p Textarea
    +form-textarea({
      placeholder: "Write why does copay is unpaid"
    })

    p Field wrapper select input
    +form-field-wrp-select-input({scriptId: 2})

    p Field wrapper input
    +form-field-wrp-input({
      placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
      error: "Error. Information not found in the system"
    })


    h2.ui-second-title Profile card

    .ui-profile-card-list
      +profile-card({isEmpty: true, scriptId: 1})
      +profile-card({scriptId: 2})


    h2.ui-second-title Labels

    p Label info
    +label-info({})

    p Label done
    +label-done()

    p Label city
    .ui-label-city
      +label-city({text: "Gotham"})
      +label-city({text: "Brooklyn", color: "blue"})
      +label-city({text: "Connecticut", color: "black"})
      +label-city({text: "New Jersey", color: "light-green"})
      +label-city({text: "Pennsylvania", color: "green"})
      +label-city({text: "Long Island", color: "yellow"})


    h2.ui-second-title Modal

    p Simple modal
    .ui-modal
      +modal({
        submitText: "Submit",
        textareaPlaceholder: "Write why does copay is unpaid",
      })

    p Error modal
    .ui-modal
      +modal({
        isErrorHeader: true,
        submitText: "Save",
        textareaPlaceholder: "Write how you corrected the error",
        textareaValue: "Sorry I accidentally scanned the wrong package, all corrected.",
      })

    p Error modal, submit disabled
    .ui-modal
      +modal({
        isErrorHeader: true,
        isSubmitDisabled: true,
        submitText: "Save",
        textareaPlaceholder: "Write how you corrected the error",
        textareaError: "Too short a comment"
      })
