include ../elements/head
include ../elements/images
include ../templates/button/btn-section
include ../templates/button/btn-section-counter
include ../templates/button/btn-form
include ../templates/button/btn-icon
include ../templates/button/btn-table
include ../templates/button/btn-filter
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input
include ../templates/form/form-field-wrp-select
include ../templates/form/form-input
include ../templates/form/form-select-input
include ../templates/form/form-textarea
include ../templates/form/form-switch
include ../templates/form/form-grid
include ../templates/form/form-select
include ../templates/table/table-text
include ../templates/table/table-orders
include ../templates/table/table-returns
include ../templates/table/table-pharmacy
include ../templates/table/table-route
include ../templates/header
include ../templates/modal
include ../templates/label/label-status
include ../templates/label/label-done
include ../templates/label/label-city
include ../templates/profile-card


doctype html
html(lang="en")
  +head("Rx2go. UI-kit")
  body
    block content
    include ../elements/script


block content
  .wrp.wrp--top-page.wrp--bottom-page
    h1 UI-kit


    h2.ui-second-title Buttons

    p Button section
    .ui-btn-list
      +btn-section({text: "Search Info"})
      +btn-section({text: "Print Labels"})
      +btn-section({text: "Get Hub Name", isDisabled: true})
      +btn-section({text: "Get Route Name", isActive: true})

    p Button section counter
    .ui-btn-list
      +btn-section-counter({text: "Ready for Delivery", icon: "icon-building", counter: 124})
      +btn-section-counter({text: "Driver Out", icon: "icon-auto", isActive: true})
      +btn-section-counter({text: "Returned", icon: "icon-building-arrows", isDisabled: true})
      +btn-section-counter({text: "..."})

    p Button form
    .ui-btn-list
      +btn-form({text: "Save", color: "green"})
      +btn-form({text: "Save", color: "green", isDisabled: true})
      +btn-form({text: "Save"})
      +btn-form({text: "Save", isDisabled: true})

    p Button icon
    .ui-btn-list
      +btn-icon({text: "Print the label", icon: "icon-print"})
      +btn-icon({text: "Print the label", icon: "icon-print", isDisabled: true})

    p Button table
    .ui-btn-list
      +btn-table({text: "Print all"})
      +btn-table({text: "Print all", isDisabled: true})
      +btn-table({text: "Print", icon: "icon-print"})
      +btn-table({text: "Unpaid", isError: true})
      +btn-table({text: "Unpaid", isError: true, isDisabled: true})


    h2.ui-second-title Filter

    .ui-filter-list
      +btn-filter({text: "All", counter: 120, color: "light-blue", isActive: true})
      +btn-filter({text: "BK", counter: 12, color: "blue", isActive: true})
      +btn-filter({text: "LI", counter: 10, color: "yellow", isActive: true})
      +btn-filter({text: "NJ", counter: 40, color: "light-green", isActive: true})
      +btn-filter({text: "CT", counter: 50, color: "black", isActive: true})
      +btn-filter({text: "PA", counter: 30, color: "green", isActive: true})
    .ui-filter-list
      +btn-filter({text: "All", counter: 120, color: "light-blue"})
      +btn-filter({text: "BK", counter: 12, color: "blue"})
      +btn-filter({text: "LI", counter: 10, color: "yellow"})
      +btn-filter({text: "NJ", counter: 40, color: "light-green"})
      +btn-filter({text: "CT", counter: 50, color: "black"})
      +btn-filter({text: "PA", counter: 30, color: "green"})


    h2.ui-second-title Tables

    p Text
    .ui-table
      +table-text({})

    p Orders
    .ui-table
      include ../mocks/table-data-1
      +table-orders({data: tableData1})

    p Returns
    .ui-table
      +table-returns({})

    p Pharmacy
    .ui-table
      include ../mocks/table-data-3
      +table-pharmacy({data: tableData3})

    p Route
    .ui-table
      include ../mocks/table-data-4
      +table-route({data: tableData4})


    h2.ui-second-title Header

    .ui-header
      +header()


    h2.ui-second-title Form elements

    p Input
    +form-input({placeholder: "Enter Barcode Numbers"})

    p Select input
    +form-select-input({scriptId: 1})

    p Select
    +form-select({color: "blue"})

    p Textarea
    +form-textarea({
      placeholder: "Write why does copay is unpaid"
    })

    p Field wrapper select input
    +form-field-wrp-select-input({scriptId: 2, color: "blue"})

    p Field wrapper input
    +form-field-wrp-input({
      placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
      error: "Error. Information not found in the system",
      color: "blue"
    })

    p Field wrapper select
    +form-field-wrp-select({
      scriptId: 3,
      color: "blue"
    })

    p Switch
    +form-switch({id: "switch"})


    h2.ui-second-title Profile card

    .ui-profile-card-list
      +profile-card({isEmpty: true, scriptId: 1})
      +profile-card({scriptId: 2})


    h2.ui-second-title Labels

    p Label info
    +label-status({})

    p Label done
    +label-done({text: "All packages are scanned"})

    p Label city
    .ui-label-city
      div
        +label-city({text: "Gotham"})
        +label-city({text: "Brooklyn", color: "blue"})
        +label-city({text: "Connecticut", color: "black"})
        +label-city({text: "New Jersey", color: "light-green"})
        +label-city({text: "Pennsylvania", color: "green"})
        +label-city({text: "Long Island", color: "yellow"})
      div
        +label-city({text: "Gotham hub", size: "medium"})
        +label-city({text: "Brooklyn hub", color: "blue", size: "medium"})
        +label-city({text: "Connecticut hub", color: "black", size: "medium"})
        +label-city({text: "New Jersey hub", color: "light-green", size: "medium"})
        +label-city({text: "Pennsylvania hub", color: "green", size: "medium"})
        +label-city({text: "Long Island hub", color: "yellow", size: "medium"})
      div
        +label-city({text: "Brooklyn", color: "blue", size: "big"})
        +label-city({text: "Connecticut", color: "black", size: "big"})


    h2.ui-second-title Modal

    p Simple modal
    .ui-modal
      +modal({
        submitText: "Submit",
        textareaPlaceholder: "Write why does copay is unpaid",
      })

    p Error modal
    .ui-modal
      +modal({
        isErrorHeader: true,
        submitText: "Save",
        textareaPlaceholder: "Write how you corrected the error",
        textareaValue: "Sorry I accidentally scanned the wrong package, all corrected.",
      })

    p Error modal, submit disabled
    .ui-modal
      +modal({
        isErrorHeader: true,
        isSubmitDisabled: true,
        submitText: "Save",
        textareaPlaceholder: "Write how you corrected the error",
        textareaError: "Too short a comment"
      })


    h2.ui-second-title Form

    +form-grid({})
      .wrp-center
        Order Activity
