//- extends ../elements/layout
include ../elements/head
include ../elements/images
include ../templates/btn-1
include ../templates/btn-2
include ../templates/btn-3
include ../templates/btn-4
include ../templates/table-1
include ../templates/table-2
include ../templates/header
include ../templates/label-info
include ../templates/label-done
include ../templates/profile-card
include ../templates/form/form-field-wrp-input
include ../templates/form/form-field-wrp-select-input


doctype html
html(lang="en")
  +head("Rx2go. UI-kit")
  body
    block content
    include ../elements/script


block content
  .wrp.wrp--top-page.wrp--bottom-page
    h1 UI-kit


    h2.ui-second-title Buttons

    p Button 1
    .ui-btn-list
      +btn-1({text: "Search Info"})
      +btn-1({text: "Print Labels"})
      +btn-1({text: "Get Hub Name", isDisabled: true})
      +btn-1({text: "Get Route Name", isActive: true})

    p Button 2
    .ui-btn-list
      +btn-2({text: "Ready for Delivery", icon: "icon-building", counter: 124})
      +btn-2({text: "Driver Out", icon: "icon-auto", isActive: true})
      +btn-2({text: "Returned", icon: "icon-building-arrows", isDisabled: true})
      +btn-2({text: "..."})

    p Button 3
    .ui-btn-list
      +btn-3({text: "Save"})
      +btn-3({text: "Save", isDisabled: true})

    p Button 4
    .ui-btn-list
      +btn-4({text: "Print the label", icon: "icon-print"})
      +btn-4({text: "Print the label", icon: "icon-print", isDisabled: true})


    h2.ui-second-title Tables

    p Table 1
    +table-1()

    p Table 2
    +table-2({})


    h2.ui-second-title Header
    .ui-header
      +header()


    h2.ui-second-title Form elements

    p Select input
    +form-field-wrp-select-input({isOpen: true})

    p Input
    +form-field-wrp-input({
      placeholder: "Enter Barcode Numbers, Vendor ID, Equipments",
      error: "Error. Information not found in the system"
    })


    h2.ui-second-title Profile card

    +profile-card({isEmpty: true})


    h2.ui-second-title Labels

    p Label info
    +label-info({})

    p Label done
    +label-done()
