// .ui {}
.ui-second-title {
  margin-top: 40px;
}
.ui-btn-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  & > * {
    flex-shrink: 0;
  }
}
.ui-filter-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 20px;
}
.ui-table {
  @include hide-scroll;
  // height: 200px;
  overflow-x: scroll;

}
.ui-label-city {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  & > * {
    width: 100%;
    overflow: hidden;
  }
  div > *:not(:last-child) {
    margin-bottom: 8px;
  }
}
.ui-header {
  border: 1px solid $color-light-gray;
}
.ui-profile-card-list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 10px;
}
.ui-modal {
  overflow: hidden;
  border-radius: 12px;
  .overlay {
    position: static;
  }
}
