.wrp {
  @include wrapper;
  padding-top: $block-padding;
  padding-bottom: $block-padding;
  &--top-page {
    padding-top: $page-top-padding;
  }
  &--bottom-page {
    padding-bottom: $page-bottom-padding;
  }
  @include mobile {
    padding-top: $block-padding-mobile;
    padding-bottom: $block-padding-mobile;
    &--top-page {
      padding-top: $page-top-padding-mobile;
    }
    &--bottom-page {
      padding-bottom: $page-bottom-padding-mobile;
    }
  }
}
