.btn-2 {
  @include transition(color, background-color, border-color);
  display: flex;
  align-items: center;
  column-gap: 6px;
  min-height: 41px;
  margin: 0;
  padding: 10px;
  font-family: $font-default;
  font-size: 16px;
  line-height: 21px;
  font-weight: 400;
  color: $color-cornflower;
  background-color: transparent;
  border: 1px solid currentColor;
  border-radius: 6px;
  .btn-2__icon {
    @include transition(fill);
    display: inline-block;
    width: 17px;
    height: 17px;
    fill: currentColor;
  }
  // .btn-2__text {}
  .btn-2__counter {
    @include transition(color, border-color);
    flex-shrink: 0;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 15px;
    background-color: $color-white;
    border: 1px solid transparentize($color-grayish-blue, 0.9);
    border-radius: 12px;
  }
  &[disabled] {
    opacity: 0.4;
  }
  &:not([disabled]):hover {
    background-color: transparentize($color-cornflower, 0.95);
  }
  &:not([disabled]):active {
    font-weight: 700;
    background-color: transparentize($color-cornflower, 0.85);
  }
  &:not([disabled]).actv {
    font-weight: 700;
    color: $color-white;
    background-color: $color-cornflower;
    border-color: $color-cornflower;
    .btn-2__counter {
      color: $color-grayish-blue;
      border-color: $color-white;
    }
  }
}
