/* stylelint-disable declaration-no-important */
.blue {
  color: $color-white!important;
  background-color: $color-crayola-blue!important;
}
.yellow {
  color: $color-black!important;
  background-color: $color-yellow-school-bus!important;
}
.light-green {
  color: $color-black!important;
  background-color: $color-light-green!important;
}
.black {
  color: $color-white!important;
  background-color: $color-umber-gray!important;
}
.green {
  color: $color-white!important;
  background-color: $color-muslim-green!important;
}
