// TODO: 2023-11-13 /
.overlay {
  @include hide-scroll;
  position: fixed;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100%;
  min-width: $mobile-width;
  padding: $desktop-padding;
  overflow: scroll;
  background-color: transparentize($color-black, 0.8);
  @include mobile {
    padding: $mobile-padding;
  }
}
