.route-page {
  position: relative;
  width: 100%;
  max-width: $container-main-width;
  margin: 0 auto;
  padding: 16px;
  border: 1px solid $color-light-gray; // FIXME: 2023-11-10 / remove
}
.route-page__header {
  position: sticky;
  top: 0;
  z-index: 1;
  padding-bottom: 12px;
  background-color: $color-white;
  @include mobile {
    padding-bottom: 16px;
  }
}
.route-page__info {
  $route-page-info-gap: 8px;
  display: flex;
  gap: $route-page-info-gap;
  margin-bottom: 12px;
  .wrp-field {
    width: 345px;
  }
  @include tablet {
    flex-wrap: wrap;
    .label-city {
      margin-top: 8px;
    }
  }
  @include mobile {
    .wrp-field {
      width: 100%;
    }
    .wrp-center {
      width: calc(50% - math.div($route-page-info-gap, 2));
    }
  }
}
.route-page__filter {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 8px 16px;
}
.route-page__content {
  @include hide-scroll;
  overflow-x: scroll;
}
