.scan-page {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
  border: 1px solid $color-light-gray; // FIXME: 2023-11-10 / remove
}
.scan-page__main {
  position: relative;
  padding: $desktop-padding;
  @include mobile {
    padding-right: $mobile-padding;
    padding-left: $mobile-padding;
  }
}
.scan-page__content {
  // 1860px
  &--profile {
    margin-right: $container-width - $desktop-padding * 2 - 1860px;
  }
  @include tablet {
    &--profile {
      margin-right: 0;
    }
  }
}
.scan-page__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-top: 16px;
  @include container {
    display: block;
    width: 100%;
    max-width: 916px;
  }
}
.scan-page__item  {
  @include container {
    margin-top: 16px;
  }
}
.scan-page__top {
  min-height: 90px;
  margin-bottom: 16px;
  &--big {
    min-height: 151px;
  }
  &--margin {
    margin-top: 16px;
  }
  @include container {
    min-height: auto;
  }
}
.scan-page__fields {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  @include desktop-lg {
    flex-direction: column;
  }
}
.scan-page__select-route {
  width: 100%;
  max-width: 420px;
}
.scan-page__scan {
  width: 100%;
  max-width: 346px;
  @include desktop-lg {
    max-width: 420px;
  }
}
.scan-page__print {
  width: 100%;
  max-width: 420px;
  & > * {
    width: 100%;
  }
}
.scan-page__label-info {
  width: 100%;
  & > *,
  & > .label-city { // TODO: 2023-11-16 / maby other template
    width: 100%;
    white-space: inherit;
  }
}
.scan-page__profile {
  position: absolute;
  top: $desktop-padding;
  right: $desktop-padding;
  z-index: 1;
  @include tablet {
    position: static;
    margin-top: 16px;
  }
}
.scan-page__title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: $color-text;
}
.scan-page__label {
  @include hide-scroll;
  margin-top: 12px;
  overflow-x: scroll;
}
.scan-page__table {
  @include hide-scroll;
  height: 100%;
  max-height: 344px;
  margin-top: 12px;
  overflow-y: scroll;
}
.scan-page__table-btn {
  margin-top: 12px;
  & > * {
    width: 100%;
  }
}
.scan-page__info {
  &--returned > * {
    width: 100%;
  }
}
.scan-page__form {
  max-width: 543px;
}
.scan-page__select {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 16px 12px;
  @include desktop-lg {
    grid-template-columns: repeat(2, 1fr);
  }
  @include mobile {
    grid-template-columns: 1fr;
  }
}
.scan-page__select-el {
  display: grid;
  row-gap: 8px;
}
.scan-page__city {
  display: grid;
  place-items: center;
  margin-top: 220px;
  @include desktop-lg {
    margin-top: 0;
  }
}
.scan-page__contols {
  @include mobile {
    & > .wrp-contols {
      width: 100%;
      max-width: 420px;
    }
  }
}
