.scan {
  width: 100%;
  max-width: $container-main-width; // TODO: 2023-11-10 / remove?
  margin: 0 auto;
  border: 1px solid $color-light-gray; // FIXME: 2023-11-10 / remove
}
.scan__main {
  display: grid;
  grid-template-columns: 1fr auto;
  column-gap: 19px;
  padding: 16px;
  border-top: 1px solid $color-light-gray; // FIXME: 2023-11-10 / remove
}
.scan__form {
  display: grid;
  grid-template-columns: 419px 342px;
  gap: 16px;
  margin-top: 16px;
}
.scan__grid {
  display: grid;
  // grid-template-columns: 916px 913px;
  grid-template-columns: 1fr 1fr;
  gap: 40px 24px;
  margin-top: 16px;
}

// .scan__grid-item  {}
.scan__grid-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 23px;
  font-weight: 700;
  color: $color-text;
}
.scan__grid-label {
  margin-top: 12px;
}
.scan__grid-table {
  margin-top: 12px;
}
