include ../../templates/form/form-select

mixin form-field-wrp-select({isOpen, scriptId, color})
  .wrp-field(class=(color && `wrp-field--${color}`))
    label.wrp-field__label Select a Queue:
    +form-select({isOpen, scriptId, value: "Returned"})
